{% extends 'common.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <h2>Edit Profile</h2>
        {{ form.as_p }}
        <input class="btn-submit" type="submit" name="Submit" value="Save Changes">
    </form>
    {% if form.errors %}
        <div class="error">
            <p>Please correct the errors below:</p>
            {{ form.errors }}
        </div>
    {% endif %}
</body>
</html>
{% endblock %}
